@charset "utf-8";
@font-face {
  font-family: "Cookie";
  src: url(/assets/fonts/cookie/Cookie-Regular.ttf) format("truetype");
}

body {
    margin: 60px auto;
    max-width: 540px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}
nav ul, footer ul {
    line-height: 1em;
    padding: 0px;
    list-style: none;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav {
    border-bottom: 1px solid #56E39F;
}
a {
    text-decoration: none;
    color: #73D2DE;
}
a:hover {
    /* text-decoration: underline; */
}
h1 {
    font-size: 4em;
    font-family: "Cookie", Monaco, monospace;
    color: #5259af;
}
h2 {
    font-size: 2em;
    font-family: "Cookie", Monaco, monospace;
    color: #73D2DE;
}
h3 {
    font-size: 1em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #56E39F;
}
p {
    font-size: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #56E39F;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}